
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<ion-header class="ion-no-border">
  <ion-toolbar color="primary" no-border>
    <ion-buttons slot="start">
      <ion-button>
        <i class="material-icons" routerLink="/home" style="color: aliceblue;">arrow_back</i>
      </ion-button>
    </ion-buttons>

    <ion-title>
      ROV
    </ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <i class="material-icons" routerLink="/comment-add" style="color: aliceblue;">add</i>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="banner">
    <img src="../../assets/banner.svg" />

    <div class="caption ion-padding">
      Realm of Valor(ROV) <br>
      Communication
    </div>

    <div class="search">
      <ion-item lines="none" class="ion-no-padding">
        <ion-icon slot="start" name="search-outline"></ion-icon>
        <ion-input  placeholder="พูดอะไรสักอย่างสิ" [(ngModel)]="g1"></ion-input>
        <button (click)="sendG1()">Submit</button>
          
        
      </ion-item>
    </div>
  </div>

  <div class="title" *ngFor="let item of r3">
    

    <p>See all</p>
  </div>

  <!-- <div class="event-slider">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }" class="default-left-padding">
      <ion-slide>
        <ion-col class="ion-text-left">
          <ion-card routerLink="/jungle">
            <ion-card-header class="ion-no-padding" *ngFor="let item of r3">
              <img src={{item.Img}} width="185" height="185"/>
            </ion-card-header>

            <ion-card-content *ngFor="let item of r3">
              <p class="date" >{{item.Title}}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-slide>
      <ion-slide>
        <ion-col class="ion-text-left">
          <ion-card routerLink="/jungle">
            <ion-card-header class="ion-no-padding" *ngFor="let item of r3">
              <img src={{item.Img2}} width="185" height="185"/>
            </ion-card-header>

            <ion-card-content *ngFor="let item of r3">
              <p class="date" >{{item.Title2}}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-slide><ion-slide>
        <ion-col class="ion-text-left">
          <ion-card routerLink="/jungle">
            <ion-card-header class="ion-no-padding" *ngFor="let item of r3">
              <img src={{item.Img3}} width="185" height="185"/>
            </ion-card-header>

            <ion-card-content *ngFor="let item of r3">
              <p class="date" >{{item.Title3}}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-slide>
      <ion-slide>
        <ion-col class="ion-text-left">
          <ion-card routerLink="/jungle">
            <ion-card-header class="ion-no-padding" *ngFor="let item of r3">
              <img src={{item.Img4}} width="185" height="185"/>
            </ion-card-header>

            <ion-card-content *ngFor="let item of r3">
              <p class="date" >{{item.Title4}}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-slide>
      
    </ion-slides> -->
    
  <!-- </div> -->
  <div class="title"><h2>ยินดีต้อนรับเข้าสู่กลุ่มพูดคุย</h2></div>
  <ion-card *ngFor="let item of r5">
    <ion-item >
      <ion-avatar slot="start">
        <img src="https://scontent.fubp1-1.fna.fbcdn.net/v/t1.0-9/156388550_1174804212977023_2041124519245458723_o.jpg?_nc_cat=110&ccb=1-3&_nc_sid=09cbfe&_nc_eui2=AeHezmtO4R-RCvQQtDDY_CG5THm7c1u46IdMebtzW7joh0aU39VeZ60-2U0KV_eCkCdURYvNMvAKzztTd4-zl1pk&_nc_ohc=Vc6nr_wykSIAX_JDLt4&_nc_ht=scontent.fubp1-1.fna&oh=20bd2a3b9e986dfeb84a7a5ec6b66f3a&oe=6077A49E">
      </ion-avatar>
      <ion-label>
        <h3>{{item.name}}</h3>
        <p>jan 10, 2021</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="openAS(item)">
          <ion-icon name="ellipsis-vertical-outline" style="color: black;"></ion-icon>
          
        </ion-button>
      </ion-buttons>
    </ion-item>
  
    <img src="https://f.ptcdn.info/651/069/000/qbb0xy1zrcMQywxJ0rML-o.jpg" alt="ion">
    <ion-card-header>
      <ion-card-title style="font-size: 20px;">{{item.Postname}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{item.comment}}</p>
    </ion-card-content>
  
    <ion-footer>
      <ion-row>
        <ion-col center text-center>
          <button>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>1.5k Likes</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button>
            <ion-icon name="text"></ion-icon>
            <div>4 Comments</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button>
            <ion-icon name="time"></ion-icon>
            <div>11h ago</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-footer>
  </ion-card>
  
 

  <div class="default-top-padding title">
    <h2>มาแรงช่วงนี้</h2>

    <p>See all</p>
  </div>

  <div class="live-event">
    <img src="https://i.pinimg.com/originals/48/21/a1/4821a11dbbce934425122409bf0ba5c3.png" width="178" height="178" />

    <div class="info">
      <div class="content">
        <h6>เทคนิคการโยนขั้นสูง</h6>

        <p class="stats">
          <span><ion-icon name="eye"></ion-icon>&nbsp;2.3K</span><span><ion-icon name="heart"></ion-icon>&nbsp;3758</span>
        </p>

        <p class="location"><ion-icon name='location'></ion-icon>?, ?</p>

        <div class="additional-info">
          <div class="attendees">
            <img src="../../assets/persons/person1.svg" />
            <img src="../../assets/persons/person2.svg" />
            <img src="../../assets/persons/person3.svg" />
            <img src="../../assets/persons/person4.svg" />
            <div class="count">
              <img src="../../assets/persons/person-placeholder.svg" />

              <p>+3</p>
            </div>
          </div>
        </div>
      </div>

      <div class="indicator">
        <div>เข้าชม</div>
      </div>
    </div>
  </div>

  <style>
    :root {
      --ion-safe-area-top: 20px;
      --ion-safe-area-bottom: 22px;
    }
  </style>
</ion-content>
