<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<ion-header class="ion-no-border">
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="arrow-back" routerLink="/home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>Comment</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Update <br />Here!!</h1>
  <form (ngSubmit)="Send()" id = "form">
    <ion-item>
      <ion-label>PostName</ion-label>
      <ion-textarea [(ngModel)]="todo.PostName" name="PostName"></ion-textarea>
    </ion-item><br>
    <ion-item>
      <ion-label>Password For Edit</ion-label>
      <ion-textarea [(ngModel)]="todo.Password" name="Password"></ion-textarea>
    </ion-item><br>
    <ion-item>
      <ion-label>Role</ion-label>
      <!-- <ion-input type="Role" [(ngModel)]="todo.Role" name="Role"></ion-input> -->
      <ion-select type="Role" [(ngModel)]="todo.Role" name="Role">
        <ion-select-option value="Juggle">jungle</ion-select-option>
        <ion-select-option value="Carry">carry</ion-select-option>
        <ion-select-option value="Mage">mage</ion-select-option>
        <ion-select-option value="Offlane">offlane</ion-select-option>
        <ion-select-option value="Rome">Rome</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Comment</ion-label>
      <ion-textarea [(ngModel)]="todo.Comment" name="Comment"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>name</ion-label>
      <ion-textarea [(ngModel)]="todo.Name" name="Name"></ion-textarea>
    </ion-item><br>
    <button ion-button type="submit" block>SUBMIT</button>
  </form>

  <!-- <form id = "form">
    <ion-input [(ngModel)]="Comment"  placeholder="Your Comment"></ion-input>
    <ion-input [(ngModel)]="Password" type ="password" placeholder="Password For Edit"></ion-input>
    <ion-input [(ngModel)]="UserName" type="UserName" placeholder="UserName"></ion-input>
    <ion-label>Role</ion-label>
    <ion-select [(ngModel)]="Role">
      <ion-select-option value="Juggle">jungle</ion-select-option>
      <ion-select-option value="Carry">carry</ion-select-option>
      <ion-select-option value="Mage">mage</ion-select-option>
      <ion-select-option value="Offlane">offlane</ion-select-option>
      <ion-select-option value="Rome">Rome</ion-select-option>
    </ion-select>
    <ion-button (click)="Send()" expand="block" shape="round">Comment</ion-button>
     -->
    


  

  <p>กรุณากรอกข้อมูลให้ครบถถ้วน<br /></p>
</ion-content>